:root {
  --primary-background-color: white;
  --primary-color: #0a6efd;
  --primary-gray: #f1f6f7;
}

.background-color {
  background-color: var(--primary-background-color);
}

.sub-background {
  background-color: var(--primary-gray);
}

.h-screen {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.truncate-2-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Banner  */
.carousel-starter {
  height: 534px;
  width: 100%;
  @media screen and (max-width: 768px) {
    height: 300px;
  }
  @media screen and (max-width: 576px) {
    height: 224px;
  }

  .custom-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
}

.container-home {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  @media screen and (max-width: 992px) {
    max-width: 960px;
  }
  @media screen and (max-width: 768px) {
    max-width: 772px;
  }
  @media screen and (max-width: 576px) {
    max-width: 540px;
  }
}

/* Best seller Carousel */

/* Blog Carousel */
.blog-carousel-starter {
  min-height: 534px;
  width: 100%;
  @media screen and (max-width: 768px) {
    min-height: 300px;
  }
  @media screen and (max-width: 576px) {
    min-height: 224px;
  }

  .custom-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
}

.custom-img-blog {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.blog-item-home {
  .blog-created-at {
    font-size: 12px;
    font-weight: 300;
  }
  .blog-title {
    font-size: 18px;
    font-weight: 700;
  }
  .blog-description {
    font-size: 14px;
    font-weight: 300;

    text-overflow: ellipsis;
    overflow: hidden;
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
/* Blog Carousel */

/* Dropdown hover  */
@media (min-width: 576px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    margin-top: 0;
  }

  .dropdown-menu {
    display: block;
    opacity: 0;
    transition: all 0.2s;
  }
}

/* End section */

/* Slider range input  */

.price-input {
  width: 100%;
  display: flex;
  margin: 12px 0 14px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 8px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* end section  */

/* search input  */
.input-search-wrapper {
  position: relative;
  width: 100%;
}

.input-search {
  height: 40px;
  width: 100%;
  padding-left: 14px;
}
/* end section  */

/* css content for single product  */

.detail-img {
  width: 100%;
  aspect-ratio: 3/3.2;
  object-fit: cover;
}

/* end section  */
